node_modules
dist
out
.favorites.json
coverage
webpack.config.ts
public/*.js

scripts
\.vscode/
.idea
babel.config.js
metro.config.js
next.config.js
reactotron.js
tsconfig.json
*.spec.js
*.min.js
build
rollup.config.js
jest.config.js
jest.setup.js
jest
.prettierrc
.eslintrc.json
